:css
  body { font-family: sans-serif; }
  th { text-align: left }

%table
  - @alignments.each do |alignment|
    %tr
      %td(nowrap='nowrap')
        %button{onclick: "audio = new Audio('/excerpt.wav?video_id=#{alignment.youtube_video_id}&begin_millis=#{alignment.begin_millis}&end_millis=#{alignment.end_millis}'); audio.play(); event.preventDefault();"} Play
      %td= alignment.text_if_good
