- @songs.each do |song|
  %li= song.song_name
  %ul
    - song.lines.each do |line|
      %li!= "&ldquo;#{line.line}&rdquo;"
      - if line.audio_excerpt_filename
        %audio(controls onClick='var a = event.target; if (a.paused) a.play(); else a.pause();')
          %source{type:'audio/aac', src:"http://vocabincontext-media-excerpts.s3-website-us-east-1.amazonaws.com/#{line.audio_excerpt_filename}"}
